<ion-view view-title="Beer Lovers Guide To Raleigh">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div>
      <p class="padding-little">
        <br>
             <br>Raleigh is North Carolina’s beer boomtown. As of 2014, the city boasts 11 breweries with eight more in the works, according to state records and the N.C. Craft Brewers Guild, more than any other city in North Carolina. Wake County, where Raleigh sits in the middle, now has 17 breweries and a dozen more dot the larger metro area. A heaven for beer lovers definitely! The more the beer scene prospers, the more people ask: Who’s the best? What’s the must-visit brewery, beer bar and bottle shop? Here is a perfect guide to Raleigh for all the beer lovers out there!</p>
      <p class="padding-little">
        Whether you want to start downtown, where the beer explosion in Raleigh is most visible, or you want to trek outward, select the tour you would like to explore from the options below!</p>
      </div>
        <div class="list animate-fade-slide-in-right">
          <a ui-sref="app.theDowntown5" class="item item-avatar item-icon-right">
            <img src="img/downtown5.jpg">
            <h2>The Downtown Five</h2>
            <p>Five great bars, walking loop </p>
            <p>from downtown!</p>
          </a>
          <a ui-sref="app.trekOutward" class="item item-avatar item-icon-right">
              <img src="img/beer.png">
              <h2>Trekking Outward</h2>
              <p>The majority—and biggest players—</p>
               <p> lie just outside the city’s center.</p>
          </a>
        </div>
    </ion-content>
</ion-view>