<ion-view view-title="Waffle House">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <img src="img/waffle.jpg" style="height:50%;width:100%;">
        <h4 class="padding-little">Getting crispy Waffles</h4>
          <p class="padding-little">
             Who wouldn't want to order crispy, crunchy delecious waffles with maple syrup, peanut butter and much more!
            </p>
            <h4 class="padding-little">Hours Open: </h4>
          <p class="padding-little">
          24 hours, 365 days a year! 
      </p>
    </ion-content>
</ion-view>
