<ion-view view-title="Cheese Cake Factory">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
      
      <img src="img/Cheesecake.jpg" style="height:50%;width:100%;">
        <h4 class="padding-little">Getting high on Cheesecakes</h4>
          <p class="padding-little">
            With more than 250 menu items and more than 50 signature cheesecakes and desserts, there is truly “Something for everyone” at The Cheesecake Factory. 
            <br><br>
          </p>
           <h4 class="padding-little">Hours Open: </h4>
          <p class="padding-little">
          Monday - Thursday: 11am - 11pm <br>
          Friday - Saturday: 12am - 12:30am <br>
          Sunday: 10am - 11pm <br>
          Sunday(brunch):10am -2pm
      </p>
    </ion-content>
</ion-view>
