<ion-view view-title="Insomnia Cookies">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <img src="img/cookie.jpg"  style="height:50%;width:100%;">
        <h4 class="padding-little">Cookie dough calling</h4>
          <p class="padding-little">
             Insomnia Cookies specializes in delivering warm, delicious cookies right to the doors of individuals and companies alike - until 3am.
             <br><br>
            </p>
             <h4 class="padding-little">Hours Open: </h4>
          <p class="padding-little">
          Monday - Thursday: 11am - 3am 
      </p>
    </ion-content>
</ion-view>
