<ion-view view-title="Smallcakes, A cupcakery">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <img src="img/scupcake.jpg"  style="height:50%;width:100%;">
        <h4 class="padding-little">Mission: gorging delicious cupcakes</h4>
          <p class="padding-little">
             Smallcakes bakes and frosts 12 signature flavors of cupcakes every morning!  Smallcakes features seasonal and special flavors.
            </p>
            <h4 class="padding-little">Hours Open: </h4>
          <p class="padding-little">
          Monday - Thursday: 10am - 8pm 
      </p>
    </ion-content>
</ion-view>
