<ion-view view-title="Stories">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
          <div ui-sref="app.studentGuide" style="border-radius:5px" class="card card-gallery item item-text-wrap">
              <div class="ink dark-bg">
                  <img class="full-image" src="img/creepy-wolf.jpg">
                  <h2 style="padding:12px;">NCSU New Student Guide Map</h2>
              </div>
          </div>
        </div>
        <div class="item card-item">
          <div ui-sref="app.beerGuide" style="border-radius:5px" class="card card-gallery item item-text-wrap">
              <div class="ink dark-bg">
                  <img class="full-image" src="img/beer.jpg">
                  <h2 style="padding:12px;">Beer Lovers Guide To Raleigh</h2>
              </div>
          </div>
        </div>
        <div class="item card-item">
          <div ui-sref="app.profile" style="border-radius:5px" class="card card-gallery item item-text-wrap">
              <div class="ink dark-bg">
                  <img class="full-image" src="img/globe.jpg">
                  <h2 style="padding:12px;">Raleigh Historical Tour</h2>
              </div>
          </div>
        </div>
        <div class="item card-item">
          <div ui-sref="app.dessertGuide" style="border-radius:5px" class="card card-gallery item item-text-wrap">
              <div class="ink dark-bg">
                  <img class="full-image" src="img/food.jpg">
                  <h2 style="padding:12px;">The Ultimate Dessert Tour</h2>
              </div>
          </div>
        </div>
    </ion-content>
</ion-view>
