<ion-view view-title="Student Health Center">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
      <iframe  style="height:50%;width:100%;" src="https://www.youtube.com/embed/atgrHCoRF8w" frameborder="0" allowfullscreen></iframe>
        <h4 class="padding-little">Submitting Immunization Documentations</h4>
          <p class="padding-little">
            You must submit records of required immunizations online at https://healthweb.ncsu.edu but you are also required to submit official copies of your immunization documentation (in English) in person, via fax or through mail to Student Health Services.<br><br>
            Mail:<br>
            Student Health Services<br>
            Attention: Immunization Department<br>
            2815 Cates Avenue<br>
            Raleigh, NC 27695-7304<br><br>
            Fax:1-877-221-6278<br><br>
            Check your secure messages at healthweb.ncsu.edu for updates and communication from the Immunization Office.  For immunization-related questions, please email immunizations@ncsu.edu. All email communication should include your full name and NCSU student ID #.  You can find more information in the following site: <a href="http://healthcenter.ncsu.edu/about-us/our-policies/immunization-compliance">http://healthcenter.ncsu.edu/about-us/our-policies/immunization-compliance</a>.<br><br>
            Appointments are required. To schedule an appointment call 919-515-7107 or book your appointment online through HealthWeb.          </p>
    </ion-content>
</ion-view>
