<ion-view view-title="James B. Hunt Jr. Library">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
      <iframe  style="height:50%;width:100%;" src="https://www.youtube.com/embed/scyQPk6n0xA" frameborder="0" allowfullscreen></iframe>
        <h4 class="padding-little">11th Best College Library Globally</h4>
          <p class="padding-little justify">
            The James B. Hunt Jr. Library is the second main library of North Carolina State University (NCSU) and is located on the University's Centennial Campus. The $115 million facility opened in January 2013 and is best known for its architecture and technological integration, including a large robotic book storage and retrieval system which houses most of the university's engineering, textiles, and hard sciences collections. The library is named after James Baxter "Jim" Hunt, Jr., the four-term 69th and 71st Governor of North Carolina. Hunt Library is part of the Triangle Research Libraries Network (TRLN), which shares books between North Carolina State University, Duke University, The University of North Carolina at Chapel Hill, and North Carolina Central University.
          </p>
    </ion-content>
</ion-view>
