<ion-view view-title="NCSU Student Guide Map">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=z2Z98jV0Y8AQ.kWQxDoBNHEsI" style=" height:50%;width:100%;"></iframe>
        <h4 class="content padding double-padding-x">On this Tour</h4>
        <div class="list animate-fade-slide-in-right">
          <a ui-sref="app.studentGuideTSU" class="item item-avatar item-icon-right">
            <img src="img/talley.jpg">
            <h2>Talley Student Union</h2>
            <p>Getting Your Student Id Card</p>
          </a>
          <a ui-sref="app.studentGuideSHC" class="item item-avatar item-icon-right">
              <img src="img/health.png">
              <h2>Student Health Center</h2>
              <p>Submitting Immunization Docs</p>
          </a>
          <a ui-sref="app.studentGuideMBT" class="item item-avatar item-icon-right">
              <img src="img/bell.jpg">
              <h2>Memorial Bell Tower (OPTIONAL)</h2>
              <p>Historic Landmark</p>
          </a>
          <a ui-sref="app.studentGuideHunt" class="item item-avatar item-icon-right">
              <img src="img/hunt.jpg">
              <h2>James B. Hunt Jr. Library</h2>
              <p>11th Best College Library Globally</p>
          </a>
        </div>
    </ion-content>
</ion-view>
