<ion-view view-title="Memorial Bell Tower">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
      <iframe  style="height:50%;width:100%;" src="https://www.youtube.com/embed/nQt_UqYYAms" frameborder="0" allowfullscreen></iframe>
        <h4 class="padding-little">Historical Landmark</h4>
          <p class="padding-little">
            The idea for a monument to honor NC State alumni killed in World War I originated with Vance Sykes, a member of the class of 1907.
            <br><br>By 1920, Sykes and other alumni had formed a planning committee and hired architect William Henry Deacy to design a memorial tower at the entrance to the campus on Hillsborough Street.
            <br><br>Today, the 115-foot monument, called "a legend in stone," is a symbol of the university and a rallying point for the campus community. Constructed at a cost of more than $150,000, the tower is made of 1,400 tons of granite set on a 700-ton concrete base. Its blending of Romanesque features and Gothic verticality are reminiscent of the towers at West Point.          </p>
    </ion-content>
</ion-view>
