<ion-view view-title="Talley Student Union">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
      <iframe style="height:50%;width:100%;" src="https://www.youtube.com/embed/G7K4XhK0Dw0" frameborder="0" allowfullscreen></iframe>
        <h4 class="padding-little">Getting Your Student Id Card</h4>
        <p class="padding-little">
        <br>It all starts with your campus ID card, which can be used to access a variety of services on campus, including our AllCampus debit spending account.
          <br><br>
          With your card you can :<br><br>
            Make on-campus purchases through the AllCampus debit account<br>
            Access your meal plan<br>
            Enter your residence hall and other buildings with restricted access<br>
            Work out at the gym<br>
            Check out a book at the library<br>
            Access your residence hall laundry account
        </p>
    </ion-content>
</ion-view>
