<ion-view view-title="The Downtown Five">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=zoQK5fIwXDxc.kJejLR7fguR4
      " style=" height:50%;width:100%;"></iframe>
      <br>
      <p class="padding-little">It’s now possible to hit five breweries, bottle shops and great beer bars in a walking loop from downtown. The route, clockwise westward from city center, is not marketed in any major way, and it’s a good walk at many points. Check out this tour and you are promised to have some amazing time going downtown!</p>
        <h4 class="content padding double-padding-x">On this Tour</h4>
        <div class="list animate-fade-slide-in-right">
          <a ui-sref="app.theDowntown5CrankArm" class="item item-avatar item-icon-right">
            <img src="img/CrankArmBrewing.png">
            <h2>Crank Arm Brewing</h2>
            <p>Beer You Can Feel Good About!</p>
          </a>
          <a ui-sref="app.theDowntown5Tasty" class="item item-avatar item-icon-right">
              <img src="img/beerGuideTasty.png">
              <h2>Tasty Beverage Company</h2>
              <p>We Like Fun! Drink It In!</p>
          </a>
          <a ui-sref="app.theDowntown5ThePit" class="item item-avatar item-icon-right">
              <img src="img/beerGuideThePit.png">
              <h2>The Pit</h2>
              <p>Authentic Barbecue</p>
          </a>
          <a ui-sref="app.theDowntown5Trophy" class="item item-avatar item-icon-right">
              <img src="img/beerGuideTrophy.jpg">
              <h2>Trophy Brewing & Pizza Company</h2>
              <p>Raleigh’s beer future!</p>
          </a>
          <a ui-sref="app.theDowntown5State" class="item item-avatar item-icon-right">
              <img src="img/theDowntown5State.png">
              <h2>State of Beer</h2>
              <p>Downtown Raleigh's bottle shop & sandwiches.</p>
          </a>
        </div>
    </ion-content>
</ion-view>
