<ion-view view-title="The Pit Authentic Barbecue">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
      <img src="img/thepitcover.jpg" style="height:50%;width:100%;">
        <h4 class="padding-little">Barbecue, tried and true.</h4>
        <p class="padding-little">
        While you are on this quest for the most amazing beers in town, why not stop for some delicious, lip smacking and authentic food from the "sacred fire pit". Yes, barbecue! Down your booze with the amazing offerings at this barbecue joint which is a landmark on the state’s barbecue map.
          <br><br>
          A celebration of all of the great culinary offerings of the Old North State, The Pit has made a name for itself as the destination for the state's signature cuisine. Going far beyond traditional barbecue offerings with some contemporary twists on Southern favorites, The Pit also serves Texas-style brisket, baby back ribs, barbecue turkey, fried chicken, and a can't-miss barbecue tofu dish. Come early for your night out at The Pit — You'll be rewarded with one of the most inviting bar scenes in the Triangle. <br>
          <h4 class="padding-little">Address: </h4>
          <p class="padding-little">
        328 W Davie St, Raleigh, NC 27601
      </p>
      <h4 class="padding-little">Phone: </h4>
          <p class="padding-little">
        (919) 890-4500
      </p>
         <h4 class="padding-little">Hours Open: </h4>
          <p class="padding-little">
          Monday - Thursday 11:00 - 10:00<br>
          Friday & Saturday 11:00 - 11:00<br>
          Sunday 11:00 - 9:00
      </p>
      <h4 class="padding-little">
        Website: <a href="http://www.thepit-raleigh.com/">http://www.thepit-raleigh.com</a>
    </h4>
        </p>
    </ion-content>
</ion-view>