<ion-view view-title="Crank Arm Brewing">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
      <iframe  style="height:50%;width:100%;" src="https://www.youtube.com/embed/ufiTuNKyk5o" frameborder="0" allowfullscreen></iframe>
        <h4 class="padding-little">Beer and Bicycles</h4>
        <p class="padding-little">
        Opened in July 2013, the brewery is an extension of Crank Arm Rickshaw and still delivers kegs to downtown bars and shops by bike.
          <br><br>
          The taproom is cavernous, with the shiny brewing tanks in the back corner, but the crowd on this sunny day gravitates toward the porch with its big picnic table and view of downtown. Owner Adam Eckhardt sees his red brick building as a “hub where people come and go—a bond to solidify the cycling and beer culture.”<br>
          <h4 class="padding-little">Address: </h4>
          <p class="padding-little">
        319 W Davie St, Raleigh, NC 27601
      </p>
      <h4 class="padding-little">Phone: </h4>
          <p class="padding-little">
        (919) 324-3529
      </p>
         <h4 class="padding-little">Hours Open: </h4>
          <p class="padding-little">
          Monday - Thursday: 4PM - Midnight <br>
          Friday: 4PM - 2AM <br>
          Saturday: Noon - 2AM <br>
          Sunday: Noon - 10PM
      </p>
      <h4 class="padding-little">
        Website: <a href="http://www.crankarmbrewing.com/">http://www.crankarmbrewing.com</a>
    </h4>
        </p>
    </ion-content>
</ion-view>