<ion-view view-title="Trophy Brewing & Pizza Company">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
      <iframe  style="height:50%;width:100%;" src="https://www.youtube.com/embed/O2ZCc46Waok" frameborder="0" allowfullscreen></iframe>
        <h4 class="padding-little">Raleigh’s beer future!</h4>
        <p class="padding-little">
          The three-barrel nanobrewery system gives brewer Les Stewart plenty of room to experiment, which he does more than most in Raleigh.
          <br><br>
          Trophy Brewing stretches across West and South downtown Raleigh brewing at two locations; The Morgan St. location opened in February 2013 and features a 3 Barrel Brewhouse and full service restaurant. The Maywood location which opened in December of 2015 features a comfortable taproom attached to our 20 Barrel production facility and often hosts food trucks. Their beer is something, often unique, and always tasty. Their taprooms are inviting and their staff is well versed in the way of zymurgy, small talk and making you feel at home. It’s impossible to know what’s on tap at any given time, but I keep an eye out for the Double Death Spiral, a double IPA, and always enjoy the Slingshot Coffee Porter.<br>
          <h4 class="padding-little">Address: </h4>
          <p class="padding-little">
            Trophy Brewing & Pizza: 827 W Morgan St, Raleigh, NC 27603<br>
            Trophy Brewing & Taproom: 656 Maywood Ave. Raleigh, NC 27603

      </p>
      <h4 class="padding-little">Phone: </h4>
          <p class="padding-little">
        Trophy Brewing & Pizza: (919) 803-4849<br>
        Trophy Brewing & Taproom: (919) 803-1333
      </p>
         <h4 class="padding-little">Hours Open: </h4>
          <p class="padding-little">
            Trophy Brewing & Pizza:<br>
            Monday - Wednesday: 5pm - 12am<br>
            Thursday: 3pm - 2am<br>
            Friday -  Saturday: 12pm - 2am<br>
            Sunday: 12pm - 12am<br><br>
            Trophy Brewing & Taproom: <br>
            Monday - Thursday: 3pm - 12am<br>
            Friday: 3pm - 2am<br>
            Saturday: 12pm - 2am<br>
            Sunday: 12pm - 12am  
      </p>
      <h4 class="padding-little">
        Website: <a href="http://trophybrewing.com/">http://trophybrewing.com</a>
    </h4>
        </p>
    </ion-content>
</ion-view>