<ion-view view-title="State of Beer">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
      <img src="img/statecover.jpg" style="height:50%;width:100%;">
        <h4 class="padding-little">Downtown Raleigh's bottle shop & sandwiches!</h4>
        <p class="padding-little">
        "We're the State of Beer bottle shop. Serving the best beers, gourmet sandwiches and salads in downtown Raleigh." And indeed, as their tagline goes, they are the best deal to enjoy some delicious gourmet sandwiches along with your beer.
          <br><br>
        This bar on the Hillsborough Street opened with a taproom and a filling station for crowlers — an aluminum can growler. The name is the same as an online radio show each week about the North Carolina beer scene.<br>
          <h4 class="padding-little">Address: </h4>
          <p class="padding-little">
        401 Hillsborough St, Raleigh, NC 27603
      </p>
      <h4 class="padding-little">Phone: </h4>
          <p class="padding-little">
        (919) 546-9116
      </p>
         <h4 class="padding-little">Hours Open: </h4>
          <p class="padding-little">
         Monday - Wednesday: 11am-10pm<br>
         Thursday: 11am-12am<br>
         Friday - Saturday: 11am-2am<br>
         Sunday: 12pm-10pm
      </p>
      <h4 class="padding-little">
        Website: <a href="http://stateof.beer/">http://stateof.beer</a>
    </h4>
        </p>
    </ion-content>
</ion-view>