<ion-view view-title="Tasty Beverage Company">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
      <img src="img/tastycover.jpg" style="height:50%;width:100%;">
        <h4 class="padding-little">Stop for some Tasty beverage!</h4>
        <p class="padding-little">
        Tasty Beverage Company in Downtown Raleigh is an institution of the most delicious beverage on earth... beer!
          <br><br>
         Situated in the building, known as the Raleigh Depot, it is a great beer shop that offers taps and bottle sales. It provides beer to go, beer in the cooler that you can drink on site, and beer on draft!  You will not go home without something you like! <br>
          <h4 class="padding-little">Address: </h4>
          <p class="padding-little">
        327 W Davie St #106, Raleigh, NC 27601
      </p>
      <h4 class="padding-little">Phone: </h4>
          <p class="padding-little">
        (919) 828-2789
      </p>
         <h4 class="padding-little">Hours Open: </h4>
          <p class="padding-little">
          Monday - Thursday: 12pm - 9pm <br>
          Friday - Saturday: 11am - 10pm <br>
          Sunday: 12pm - 6pm
      </p>
      <h4 class="padding-little">
        Website: <a href="http://dtr.tastybeverageco.com/">http://dtr.tastybeverageco.com</a>
    </h4>
        </p>
    </ion-content>
</ion-view>
